
.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart{
  max-height: 25rem;
  overflow: scroll;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 0px 30px;
  
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions .submit{
  background-color: rgb(80, 116, 80);
  color: white;
}
.actions .close{
  background-color: rgb(179, 90, 90);
  color: white;
}