ul{
  list-style: none;
}

.drinks-list{
  background-color: rgb(251, 251, 206);
}

.title{
  padding-top: 50px;
  color: rgb(214, 139, 0);
  font-size: 25px;
}

.loading{
  color: rgb(214, 139, 0);
  font-size: 25px;
}